.mobile-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    height: 31vh; 
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
    height: 70vh; 
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}

.mobile-bg2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    height: 70.5vh;
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
    height: 85vh; 
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}

.mobile-bg3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    height: 66vh;
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
    height: 83vh; 
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}

.mobile-bg4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    /* height: 66vh; */
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
   /*  height: 84vh;  */
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}

.mobile-bg5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    /* height: 61vh;  */
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
    height: 85vh;  
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}

.mobile-bg6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    height: 24vh; 
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
    height: 81vh;  
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}

.mobile-bg7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    height: 65vh;
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
    height: 85vh;  
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}

.mobile-bg8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    height: 66vh;
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
    height: 85vh; 
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}

.mobile-bg9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    /* height: 66vh; */
    background-size:100%; 
    background-repeat: no-repeat;

    @media screen and (min-width: 1200px) { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg); 
    height: 85vh;
    background-size:100%; 
    background-repeat: no-repeat;       
    }
}


.mob-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
@media screen and (min-width: 1200px) { 
    font-size: 28px;
}
}

.nav-mob {
/*     background-color: #a68e3d61!important;
 */   /*  background: rgb(238,174,202,0.6867121848739496); */
    background: linear-gradient(180deg, rgb(184 160 129 / 63%) 87%, rgba(166, 142, 61, 0) 100%);
}

.nav-header {
    width: 125px;
    background-color: burlywood;
    position: absolute;
    border: 0.5px solid;

    @media screen and (min-width: 1200px) { 
        width: 182px;
    background-color: burlywood;
    position: absolute;
    }
    
}

::-webkit-scrollbar {
    display: none;
}

.price-prod {
    color: #b17062;
    font-weight: 500;
    font-size: large;
}

.price-prod2 {
    color: #b17062;
    font-weight: 500;
    font-size: xx-large;
}

.heading-prod {
    font-size: large;
    color: #fd9602eb;
}

.heading-prod2 {
    font-size: xx-large;
    color: #fd9602eb;
}

.card-color {
    background-color: lightgoldenrodyellow;
     /* background-color: antiquewhite; */
}

.margin-top{
    margin-top: 63px;
    @media screen and (min-width: 1200px) { 
    margin-top: 31px;
    }
}
.margin-top2{
    margin-top: 45px;
    @media screen and (min-width: 1200px) { 
    margin-top: 10px;
    }
}

.p-sale {
    font-size: 16px; 
    margin: 6px 17px;
    @media screen and (min-width: 1200px) { 
    font-size: 18px;   
    }
}

.modal__backdrop6 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
    transition-property: opacity, visibility;
    background-color: rgba(0, 0, 0, 0.62);
    opacity: 1;
    visibility: visible;
}
.modal__backdrop6.is-hidden6 {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.modal__backdrop6.is-hidden6>.modal6 {
    transform: translate(-50%, -50%) scale(2.9);
    opacity: 0;
}


.modal__close6 {
    display: flex;
    cursor: pointer;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: rgb(247, 251, 10);
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.is-hidden {
    display: none;
}